%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
}

.heading-2 {
  @extend %heading;
}

.heading-3 {
  @extend %heading;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {  //modifier classes 
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}


// opposite of mixin, extend works by copying each of heading 1 - 4 to %heading, instead of the opposite that happens under mixin